{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>
          Hi. I'm Michael. Recently I have a new hobby - programming. A year ago I started learning the language -
          Python. Coding is more of a hobby for me now, but I expect it to be a full-time job that will bring
          satisfaction and love. I want to solve interesting problems, work in a team, create and implement new
          projects.
        </p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}