{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Hello everyone who has visited my humble blog. My name is Misha. I love to play sports, horizontal bars,
          parallel bars, I also love snowboarding. I play the guitar and I don't seem to sing badly. I also developed a
          love for programming. As it turned out quite recently. Less than a year ago, I was offered to try. And I was
          overwhelmed with it. I didn’t work as a programmer, and I didn’t study for it at the university. I come from
          a family of railroad workers, and therefore, as probably most of you follow in the footsteps of your parents.
          I work as an assistant driver of a diesel locomotive, I drive trains. Programming for me now is more of a
          hobby, and I expect that later it will be a full-fledged job that will bring satisfaction and love. I don't
          want to come to work and think about when you have your next break. I want to go to work and solve interesting
          problems, I want to get high from work. I want to be a programmer. After all, coding me into a thrill.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}